
* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin:0;
  height:100vh;
  background-color: #ffccc0;
  color:#00000090;
  
 
}

header {
  text-align: center;
  justify-content: center;
}

header .bg-container{
  height: 200px;
  overflow: hidden;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

header .bg-container img{
  object-fit: cover;
  
  z-index: 0;
}

header .banner-title{
  position: absolute;
  width: 100%;
  top: 25px;

  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
}

header .banner-title p{
  text-align: center;
}

header .fixed-header{
  position: fixed;
  top: 10px;
  left:10px;
}
/*Container*/
.container{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: var(--background);
  max-width: 65rem;
  margin: 7rem auto;
}
/*Links box*/
.links-box{
  width: 28%;
  display: block;
}
/*Tags Section*/
.container .links-box .flowers-wrap{
  z-index: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container .links-box .flowers-wrap .control {
  display: inline-flex;
  position: relative;
  margin: 5px;
  cursor: pointer;
  border-radius: 99em;
  
}
.container .links-box .flowers-wrap .control .input {
    position: absolute;
    opacity: 0;
    z-index: -10;
}
input[type=checkbox]{
  opacity: 0;
}

.container .links-box .flowers-wrap .control__content {
  
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  font-family: sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 99em;
}
/*Club Info*/
.club-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.club-description{
  word-wrap: break-word;
 
  font-size: 25px;
  background-color: aliceblue;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
  width: 37%;
}
.club-info .club-links{
  background-color: aliceblue;
  border-radius: 10px;
  font-size: 25px;
}
.club-info .club-schedule{
 
  text-align: start;
  font-size: 25px;
  background-color: aliceblue;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 5px;
}
li {
  margin:20px 0;
}
/*Gallery*/
.container .gallery .gallery-image{
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border: 10px solid var(--boxes-background);
  outline: 1px solid #eee;
  margin: 0 0 2rem 0;
  border-radius: 5px;
}
/*Picture Grid*/
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}
.column p{
  word-wrap: break-word;
  font-size: 24px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-radius: 2em;;
}

@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}